# hidden/temp files
.DS_Store
*.swp
*~.nib

# Build dir
build/

# bin/data/image dir
#bin/data/image/*
#!bin/data/image/icon*
#!bin/data/image/default*

# Xcode project files except for the project file
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# Windows image thumbnail file
Thumbs.db

# User-specific project settings
*.mode1v3
*.mode2v3
